
body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  font-weight: 700;
}
header {
  text-align: center;
}
h1 {
  color: White;
}
header p {
  color: grey;
}
#Entercontext{
    height: 270px;
    width: 60%;
    border: 2px solid gray;
}
label{
    color: White;
}
textarea{
    background-color: gray;

}