h2{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
}